@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: black;
  --main-text-color: white;
  --secondary-color: #f052c4;
}

span {
  color: var(--secondary-color);
}

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
}
